.containerSidebbar{
    display: flex;
   flex: 1;
   height:calc(100vh - 50px);
    margin-right: 50px;
    position: sticky;
    background: rgb(240, 176, 154);
    flex-direction: column;
}
.siderbarmenu
{
  
    margin-bottom: 10px;
}
.siderbartitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    color: rgb(58, 54, 54);
}
.siderbarlist{
list-style: none;
padding: 10px;}
.sidebartitle
{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.sidebartitle:hover,
.sidebartitle:active
{
    background:tomato;
    color: white;
}
{
    background: rgb(255, 252, 251);
}
.sidebarIcons{
    margin-right: 5px;
    font-size: 30px !important;
}